<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta name="renderer" content="webkit">
<title>自由帮</title>

<link href="${request.contextPath}/resource/style/feel.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="${request.contextPath}/resource/plugin/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/util.js"></script>
</head>

<body>
<div id="header">
	<a href="javascript:history.go(-1);" class="l_ico ico_back"></a>
    <span class="m_text">全套设施</span>
</div>
<div class="main" style="padding-top:0">
      <div class="sslist2">
          <ul>
              <li><em class="fac1"></em><p>热水淋具</p></li>
              <li><em class="fac2"></em><p>牙具</p></li>
              <li><em class="fac3"></em><p>拖鞋</p></li>
              <li><em class="fac4"></em><p>香皂</p></li>
              <li><em class="fac5"></em><p>毛巾</p></li>
              <li><em class="fac6"></em><p>洗漱用品</p></li>
              <li><em class="fac7"></em><p>浴缸</p></li>
              <li><em class="fac8"></em><p>手纸</p></li>
              <li><em class="fac9"></em><p>电视</p></li>
              <li><em class="fac10"></em><p>饮水设施</p></li>
              <li><em class="fac11"></em><p>空调</p></li>
              <li><em class="fac12"></em><p>冰箱</p></li>
              <li><em class="fac13"></em><p>洗衣机</p></li>
              <li><em class="fac14"></em><p>电脑</p></li>
              <li><em class="fac15"></em><p>无线网络</p></li>
              <li><em class="fac16"></em><p>有线网络</p></li>
              <li><em class="fac17"></em><p>暖气</p></li>
              <li><em class="fac18"></em><p>停车位</p></li>
              <li><em class="fac19"></em><p>门禁系统</p></li>
              <li><em class="fac20"></em><p>允许吸烟</p></li>
              <li><em class="fac21"></em><p>允许做饭</p></li>
              <li><em class="fac22"></em><p>允许带宠物</p></li>
              <li><em class="fac23"></em><p>允许聚会</p></li>
              <li><em class="fac24"></em><p>不允许</p></li>
          </ul>
      </div>
</div>
</body>
</html>
