<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<title>自由帮</title>

<link href="${request.contextPath}/resource/style/feel.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="${request.contextPath}/resource/plugin/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/util.js"></script>
<script type="text/javascript">
	$(function() {
		$('#submit').click(function() {
			var password = $("input[name='password']");
			if (password.val().length < 6)
				return alert('请输入6位以上12位以下密码');
			var password2 = $("#password2");
			if (password.val() != password2.val())
				return alert("两次密码输入不一致。");
			fromData = $('#f0').serialize();
			ajax.POST("${request.contextPath}/register/changPassword", fromData, function(data) {
				if (msgModel.getCode(data) == '1') {
					alert("修改成功,请重新登录系统");
					location.href = "${request.contextPath}/register/changPassword_5";
				} else {
					alert(msgModel.getMsg(data));
					location.href = "${request.contextPath}/register/changPassword_1";
				}
			});
		});
	});
</script>
</head>

<body>
	<div id="header">
		<a href="javascript:history.go(-1);" class="l_ico ico_back"></a>
		<span class="m_text">修改密码</span>
	</div>
	<div class="main">
		<form method="post" id="f0">
			<div class="line">
				<div class="iphone4">
					<input type="password" name="password" class="input_noid" placeholder="请输入密码">
					<div class="kg">
						<img src="${request.contextPath}/resource/images/ico_kg1.jpg">
					</div>
				</div>
			</div>
			<div class="line">
				<div class="iphone4">
					<input type="password" id="password2" class="input_noid" placeholder="请输入密码">
					<div class="kg">
						<img src="${request.contextPath}/resource/images/ico_kg2.jpg">
					</div>
				</div>
			</div>
			<div>
				<input type="hidden" name="phone" class="nober" placeholder="手机号码" value="${phone!''}">
				<input type="hidden" class="code" name="${verificationcode!''}">
				<a href="javascript:void(0);" id="submit" class="massage" style="width: 90%">修改完成</a>
			</div>
		</form>
	</div>
</body>
</html>
