<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<title>自由帮</title>

<link href="${request.contextPath}/resource/style/feel.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="${request.contextPath}/resource/plugin/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/util.js"></script>

</head>

<body>
	<div id="header">
		<a href="javascript:history.go(-1);" class="l_ico ico_back"></a>
		<span class="m_text">修改密码</span>
	</div>
	<div class="main">
		<div>
			<a href="${request.contextPath}/register/changPassword_2" class="massage">手机短信</a>
		</div>
		<div>
			<!-- <a href="${request.contextPath}/register/changPassword_3" class="noid">身份证号码</a> -->
		</div>
	</div>
</body>
</html>
