<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<title>自由帮</title>

<link href="${request.contextPath}/resource/style/feel.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="${request.contextPath}/resource/plugin/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="${request.contextPath}/resource/js/util.js"></script>
<script type="text/javascript">
	$(function() {
		location.href="${request.contextPath}/register/changPassword_4";
	});
</script>
</head>
<body>
	<div id="header">
		<a href="javascript:history.go(-1);" class="l_ico ico_back"></a>
		<span class="m_text">修改密码</span>
	</div>
	<div class="main">
		<div class="line">
			<form action="changPassword_3" method="POST" id="f0">
				<div class="iphone3">
					<input type="text" class="input_noid" value="身份证号码">
				</div>
			</form>
		</div>
		<div>
			<a href="changpassword2.html" class="massage" style="width: 90%">下一步</a>
		</div>
	</div>
</body>
</html>
